page-home {
    #logoutBtn{
        background-color: transparent;
    }
    #logoutBtn ion-icon{        
       color:white
    }
    #chartDiv{
        margin-top: 30%;
        display: block
    }
        

}
