page-signup {
    .formList
    {
      //border:1px solid #8649a5;
      width: 90%;
      margin: 20% auto;
    }
    .list > .item-block:first-child{
        border-top: 0;
    }
    .signupBtn
    {
        //width: 70%;
        margin: 18% auto 0;
    
    }
}
